@model AleedTiendaShopping.Data.Entities.Sale

@{
    ViewData["Title"] = "Details";
}

 <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
 <link  rel="stylesheet" href="~/css/AdminStyle.css"/>
 
    <link  rel="stylesheet" href="~/css/normalize.css"/>
   <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
   <link  rel="stylesheet" href="~/css/swiper-bundle.min.css"/>
   <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
   <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="container__infoprocess">
    <flash dismissable="true" />
</div>


<div class="container__card-order">
    <div class="info-order_btn col-sm-10 ">
        <div class="btns-o">
            <a asp-action="Dispatch" asp-route-id="@Model?.Id" class="btn btn-outline-primary">Despachar</a>
    <a asp-action="Send" asp-route-id="@Model?.Id" class="btn btn-outline-secondary">Envíar</a>
    <a asp-action="Confirm" asp-route-id="@Model?.Id" class="btn btn-outline-secondary">Confirmar</a>
    <a asp-action="Cancel" asp-route-id="@Model?.Id" class="btn btn-outline-secondary">Cancelar</a>
    <a asp-action="Index" class="btn btn-outline-success"><i class="fa-solid fa-arrow-rotate-left"></i> Regresar</a>
        </div>
   </div>

    <div class="info-order">
     <partial name="_OrderDetails" />  
   </div>
  
   
</div>





<div class="container__tableorder">
    <div class="card mt-2">
        <div class="card-header  text-purple">
            <i class="fa fa-usd"></i>  <strong>Productos</strong>
        </div>
        <div class="card-body">
            <div id="view-all">
                @await Html.PartialAsync("_ViewAllDetail", Model.SaleDetails)
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#DetailsTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [25, 50, 100, 200, -1],
                    [25, 50, 100, 200, "Todos"]
                ]
            });
        });
    </script>
}
