@model AleedTiendaShopping.Models.ChangePasswordViewModel
@{
	ViewData["Title"] = "Change Password";
}

<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
 <link  rel="stylesheet" href="~/css/AdminStyle.css"/>
 
    <link  rel="stylesheet" href="~/css/normalize.css"/>
   <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
   <link  rel="stylesheet" href="~/css/swiper-bundle.min.css"/>
   <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
   <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   <link rel="stylesheet" href="~/css/LoginStyle.css" />
   <style>
        .input-field {


        border-radius: 5px !important;


    }

    .step__button{
        background-color:#538FFB!important;
    }
     .step__button:hover{
        background-color:#5737D6!important;
    }
   </style>
<div class="container__infoprocess">
    <flash dismissable="true" />
</div>




<div class="container__tableCate">
    
	<div class="">
    	<form method="post">
        	<div asp-validation-summary="ModelOnly"></div>
             <div class="input-field">
                                <i class="fa-solid fa-key"></i>
                                <input asp-for="OldPassword" type="password" class="" placeholder="Contraseña actual" />
              </div>
              <span asp-validation-for="OldPassword" class="text-danger"></span>
        	 <div class="input-field">
                                <i class="fa-solid fa-key"></i>
                                <input asp-for="NewPassword" type="password" class="" placeholder="Nueva Contraseña" />
              </div>
              <span asp-validation-for="NewPassword" class="text-danger"></span>
              <div class="input-field">
                                <i class="fa-solid fa-key"></i>
                                <input asp-for="Confirm" type="password" class="" placeholder="Confirmar Nueva Contraseña" />
              </div>
              <span asp-validation-for="Confirm" class="text-danger"></span>
        	

        	 <div class="step__footer">
                           
                            <button type="submit" class="step__button">Guardar</button>
                        </div>

        	
    	</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
