@model AleedTiendaShopping.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<style>
    .btn.transparent:hover {
    background: #fff !important;
    color:#4481eb !important ;
}
</style>
<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
   <link  rel="stylesheet" href="~/css/LoginStyle.css"/>
      <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="container_login">
    <div class="forms-container">
        <div class="signin-signup">
            <form asp-action="Login" class="sign-in-form">
                <h2 class="title">Iniciar Sesión</h2>
                 <div class="content__error">
                                     <flash dismissable="true" />

                 </div> 

                <div class="input-field">
                    <i class="fas fa-user"></i>
                    
                    <input asp-for="Username" class="" placeholder="Email" />
                   
                </div>
                 <span asp-validation-for="Username" class="text-danger text__error"></span>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input asp-for="Password" type="password" class="" placeholder="Contraseña" />
                </div>
                                   <span asp-validation-for="Password" class="text-danger text__error"></span>
                <div class="remenber_check">
                     <input asp-for="RememberMe" type="checkbox" class="" />
                     <label asp-for="RememberMe" class="form-check-label"></label>
                </div>
                                     <span asp-validation-for="RememberMe" class="text-warning text__error"></span>
                <div class="content__butoom">
                 <button input type="submit" value="Iniciar Sesión" class="btn solid"> Iniciar Sesión</button>
                 </div>
                 <div class="content__recoverpasword">
                ¿Has olvidado tu contraseña?<a asp-action="RecoverPassword"> Recuperala</a>
                 </div>
                
                <div class="content_redes">
                                        <p class="social-text">Síguenos  en nuestras redes sociales</p>

                <div class="social-media">
                    <a href="https://www.facebook.com/people/Aleed-tienda-de-sentimientos/100064868476103/" class="social-icon" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com/aleed.tiendadesentimientos/?hl=es-la" class="social-icon" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=573195605554&text=Hola!%20Quiero%20Comprar%20un%20regalo%F0%9F%8E%81%F0%9F%8E%81%F0%9F%8E%81" class="social-icon" target="_blank">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>

                </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3 >¿No tienes cuenta?</h3>
                <p>
                  Regístrate para disfrutar de nuestros maravillosos productos
                </p>
                <a  asp-action="Register" class="btn transparent" id="sign-up-btn">
                   Registrarse
                </a>
            </div>
            <img src="~/images/inicio.svg" class="image" alt="" />
        </div>
     

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jasny/jasny-bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
