@model AleedTiendaShopping.Models.RecoverPasswordViewModel

@{
    ViewData["Title"] = "Recover Password";
    Layout = null;
}

<style>
    .btn.transparent:hover {
    background: #fff !important;
    color:#4481eb !important ;
}

  .container_login:before {
       background-image: linear-gradient(-45deg, #229954 0%, #229954 100%) !important;
                }

                .btn.transparent:hover {
                    background: #fff !important;
                    color:#229954 !important;
                }

             
                .btns {
    width: 100% !important;
    background-color: #229954 !important;
    border: none !important;
    outline: none !important;
    height: 49px !important;
    border-radius: 12px !important;
    color: #fff !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    margin: 10px 0 !important;
    cursor: pointer !important;
    transition: all ease 0.5s !important;
}

    .btns:hover {
        background-color: #145A32 !important;
    }

    .social-icon:hover {
        color: #239B56 !important;
        border-color: #239B56    !important;
    }
</style>
<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
   <link  rel="stylesheet" href="~/css/LoginStyle.css"/>
      <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="container_login">
    <div class="forms-container">
        <div class="signin-signup">
            <form asp-action="RecoverPassword" class="sign-in-form">
                <h2 class="title">Recuperar Contraseña</h2>
                 <div class="content__error">
                                     <flash dismissable="true" />

                 </div> 

                <div class="input-field">
                    <i class="fas fa-user"></i>
                    
                    <input asp-for="Email" class="" placeholder="Email" />
                   
                </div>
                 <span asp-validation-for="Email" class="text-danger text__error"></span>
                
                <div class="content__butoom">
                 <button input type="submit" value="Recuperar de Contraseña" class="btns solid recpaswword">Recuperar de Contraseña</button>
                 </div>
               
                
                <div class="content_redes">
                                        <p class="social-text">Síguenos  en nuestras redes sociales</p>

                <div class="social-media">
                    <a href="https://www.facebook.com/people/Aleed-tienda-de-sentimientos/100064868476103/" class="social-icon" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com/aleed.tiendadesentimientos/?hl=es-la" class="social-icon" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=573195605554&text=Hola!%20Quiero%20Comprar%20un%20regalo%F0%9F%8E%81%F0%9F%8E%81%F0%9F%8E%81" class="social-icon" target="_blank">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>

                </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3 >¿Recuerdas tu contraseña?</h3>
                <p>
                  Ingresa para disfrutar de nuestros maravillosos productos
                </p>
                <a asp-action="Login" class="btn transparent" id="sign-up-btn">
                    Iniciar Sesion
                </a>
            </div>
            <img src="~/images/password.svg" class="image" alt="" />
        </div>
     

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jasny/jasny-bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
