@model AleedTiendaShopping.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
 <link  rel="stylesheet" href="~/css/AdminStyle.css"/>
 
    <link  rel="stylesheet" href="~/css/normalize.css"/>
   <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
   <link  rel="stylesheet" href="~/css/swiper-bundle.min.css"/>
   <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
   <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   <link rel="stylesheet" href="~/css/LoginStyle.css" />
   <style>
        .input-field {


        border-radius: 5px !important;


    }

    .step__button{
        background-color:#538FFB!important;
        width:100% !important;
    }
     .step__button:hover{
        background-color:#5737D6!important;
    }
   </style>
<div class="container__infoprocess">
    <flash dismissable="true" />
</div>


<div class="container__tableCate">
    <div class="">
        <form method="post">
           
            <input type="hidden" asp-for="Token" />

          

            <div class="input-field">
                                <i class="fa-solid fa-key"></i>
                                <input asp-for="UserName" class="" placeholder="Correo" />
              </div>
              <span asp-validation-for="UserName" class="text-danger"></span>


               <div class="input-field">
                                <i class="fa-solid fa-key"></i>
                                <input asp-for="Password" type="password" class="" placeholder="Contraseña" />
              </div>
              <span asp-validation-for="Password" class="text-danger"></span>
            
                <div class="input-field">
                                <i class="fa-solid fa-key"></i>
                                <input asp-for="ConfirmPassword" type="password" class="" placeholder="Confirmar Contraseña" />
              </div>
              <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            <div class="step__footer">
                           
                            <button type="submit" class="step__button">Resetear Contraseña</button>
                        </div>

           
        </form>
        <div class="text-success">
            <p>
                @ViewBag.Message
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
