<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shopping</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
@*    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
*@    

   <link rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shooping.styles.css" asp-append-version="true" />
</head>

<body>
    <!--menu-->
    <div class="contenedor" >
  <nav class="menu">
        <section class="menu__container">
            <img  class="menu__logo" src=~/images/logomarca.png/>

            <ul class="menu__links">
                <li class="menu__item">
                    <a  asp-controller="Home" asp-action="Inicio" class="menu__link">Inicio</a>
                </li>
       @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="menu__item menu__item--show">
                            <a href="#" class="menu__link">Administración <img src="~/images/arrow.svg" class="menu__arrow"></a>
    
                    <ul class="menu__nesting">
                        <li class="menu__inside">
                            <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="menu__link menu__link--inside"> Dashboard</a>
                        </li>
                        <li class="menu__inside">
                            <a asp-area="" asp-controller="Categories" asp-action="Index" class="menu__link menu__link--inside"> Categorías</a>
                        </li>
                        <li class="menu__inside">
                            <a asp-area="" asp-controller="Countries" asp-action="Index" class="menu__link menu__link--inside"> Países</a>
                        </li>
                        <li class="menu__inside">
                            <a asp-area="" asp-controller="Orders" asp-action="Index" class="menu__link menu__link--inside">Pedidos</a>
                        </li>
                         <li class="menu__inside">
                            <a asp-area="" asp-controller="Products" asp-action="Index" class="menu__link menu__link--inside"> Productos</a>
                        </li>
                         <li class="menu__inside">
                            <a asp-area="" asp-controller="Users" asp-action="Index" class="menu__link menu__link--inside"> Usuarios</a>
                        </li>
                    </ul>
                </li>
    }
              @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                        {
                             <li class="menu__item">
                    <a  asp-area="" asp-controller="Orders" asp-action="MyOrders" class="menu__link">Mis Pedidos</a>
                </li>
                            
                        }

             @if (User.Identity.IsAuthenticated)
                        {
                            <li class="menu__item menu__item--show">
                                <a href="#" class="menu__link">Mi perfíl <img src="~/images/arrow.svg" class="menu__arrow"></a>
                                <ul class="menu__nesting">
                                     <li class="menu__inside">
                                       <a asp-area="" asp-area="" asp-controller="Account" asp-action="ChangeUser" class="menu__link menu__link--inside"> Mi Información</a>
                                    </li>
                                    <li class="menu__inside">
                                       <a asp-area="" asp-area="" asp-controller="Account" asp-action="ChangePassword" class="menu__link menu__link--inside">Cambiar Contraseña</a>
                                    </li>
                                </ul>
                                
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" asp-area="" asp-controller="Account" asp-action="Logout">Cerrar Sesión</a>
                            </li>
                        }
                        else
                        {
                            <li class="menu__item">
                                <a class="menu__link" asp-area="" asp-controller="Account" asp-action="Login">Iniciar Sesión</a>
                            </li>
                        }
    
               
    
            </ul>

            <div class="menu__hamburguer">
                <img src="~/images/menu.svg" class="menu__img">
            </div>
        </section>

      
    </nav>
  </div> 
    <!--indicador-->
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_BusyIndicatorPartial" />
            @RenderBody()
        </main>
    </div>

  <!--  footer --->

  <div class="footer-basic" id="footer">
        <footer>
            <div class="social">
                <a href="https://www.instagram.com/aleed.tiendadesentimientos/?hl=es-la" target="_blank"><i class="fa-brands fa-instagram iconoredes"></i></a>
                <a href="https://api.whatsapp.com/send?phone=573195605554&text=Hola!%20Quiero%20Comprar%20un%20regalo%F0%9F%8E%81%F0%9F%8E%81%F0%9F%8E%81" target="_blank"><i class="fa-brands fa-whatsapp iconoredes"></i></i></a>
                <a href="https://www.facebook.com/people/Aleed-tienda-de-sentimientos/100064868476103/" target="_blank"><i class="fa-brands fa-facebook iconoredes"></i></i></a>
            </div>
            <div class="list-inline">
                 <p class="text__focus">ALEED - TIENDA DE SENTIMIENTOS </p>            
                <p>Hay detalles  que roban sonrisas  e invaden  el corazón. Y con Aleed tienda de sentimientos, seguro que lo encuentras.  </p>            
            <p class="copyright">Alejandro Galeano © 2022 -  &copy;  <a class="privacy-pol" asp-area="" asp-controller="Home" asp-action="Privacy">Políticas de Privacidad</a></p>
            </div>
            
        </footer>
    </div>

 <script src="~/js/menuresponsivedos.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jasny/jasny-bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" ></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
@*    <script src="~/lib/font-awesome/js/all.min.js"></script>*@
    <script>
        function displayBusyIndicator() {
            $('.loading').show();
        }
    </script>

    <script>
        $(window).on('beforeunload', function () {
            displayBusyIndicator();
        });
    </script>

    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
