@model AleedTiendaShopping.Models.EditTemporalSaleViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}
<link  rel="stylesheet" href="~/css/normalize.css"/>
   <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
   <link  rel="stylesheet" href="~/css/HomeStyle.css"/>
   <link  rel="stylesheet" href="~/css/swiper-bundle.min.css"/>
   <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
   <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

   <style>
       .modal-content{
   margin:auto !important;
    width: 70% !important;
    max-width: 70% !important;
    
       }

       .modal-header{
           width: 100% !important;
           max-width: 100% !important;
          
       }

       .btnss{
            width: 40% !important;
            max-width: 40% !important;
             transition: all 1s ease !important;

       }
       .btnss:hover{
            
           background:#fff  !important;
           color: #0d6efd !important;
       }

       .btsr:hover{
            
           background:#fff  !important;
           color: #6c757d !important;
       }
   </style>
<flash dismissable="true" />

<div class="content__infomodi">
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
           <div class="form-group information__part">
                        <label asp-for="Remarks" class="control-labe information__title"></label>
                        <textarea asp-for="Remarks" class="form-control" ></textarea>
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                    <div class="form-group information__part">
                        <label asp-for="Quantity" class="control-label information__title"></label>
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
            <div class="form-group mt-2">
               
                <input type="submit" value="Guardar" class="btn btn-primary btnss" />
                <a asp-action="ShowCart" class="btn btn-secondary btnss btsr">Regresar</a>
            </div>
        </form>
    </div>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
