@model IEnumerable<AleedTiendaShopping.Data.Entities.User>

@{
    ViewData["Title"] = "Index";
}

 <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
 <link  rel="stylesheet" href="~/css/AdminStyle.css"/>
 
    <link  rel="stylesheet" href="~/css/normalize.css"/>
   <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
   <link  rel="stylesheet" href="~/css/swiper-bundle.min.css"/>
   <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
   <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


<div class="container__infoprocess">
    <flash dismissable="true" />
</div>

<div class="container__tableCate countries">
    <div class="card content__t ">
        <div class="card-header text-purple">
            <i class="fa fa-users"></i>  <strong>Usuarios</strong>
        </div>
        <div class="card-body">
            <div id="view-all">
                @await Html.PartialAsync("_ViewAll", Model)
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/showmodal.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#UsersTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [25, 50, 100, 200, -1],
                    [25, 50, 100, 200, "Todos"]
                ]
            });
        });
    </script>
}
